
.bloga{
    width: 400px;
    margin:  0 auto;

}
.titulo h1{
    text-align: center;
}
section article{
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0, 3)
}
section article h2, section article p {
    margin: 1rem;
}

