.navbar{
    font-size: medium;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    color: white;
    padding: 1rem 0;

}

#btn{
color-scheme: lightblue;
}

.dropdown-item{
font-size: medium;
color: white;

}