.nav nav-tabs{
    position: sticky;
    font-size: medium;
  
}


.nav-link{
    font-size: x-large;

    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    
}

.dropdown-item{
    font-size: large;
    
}

.nav-total{
    background-color: #c7a17a;
    color: black;
}

