
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
   
}

body {
    background: -webkit-linear-gradient(left,#e4ded9,#FDF5E6, #FFE4E1, #ddc2ae);
    background-size: cover;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR183CgSZZBayJpGAp7CKJa86W_uJazwGbRTA&usqp=CAU);
    background-attachment: fixed;
    
    
}


.formulario{

    margin: auto; 
    margin-top: 30px;
    padding: 15px;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 3);
    position: relative;

}
main {
    background: #fff;
    width: 100%;
    max-width: 405px;
    margin: 30px auto;
    padding:  40px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0, 3);
}

/* formulario */
.formulario{
    /* display: grid; */
   /*  grid-template-columns: 1fr 1fr; */
    gap: 35px;
    height: 105%;
    width: 100%;
    place-items: center;
}

.formulario__label {
    display: block;
    padding: 10px 0;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background: #ffffff;
    /* border-bottom: 2px solid #ddc2ae; */
   /*  color: black; */
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    line-height: 45px;
    padding: 0 10px;
    transition: all 1s;
}

.formulario__validacion-estado {
    position: absolute;
    right: 45px;
    bottom: 15px;
    z-index: 1000;
    font-size: 16px;
    opacity: 0;
}

.formulario__input:focus {
    box-shadow: 0 0 5px lightcyan;
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__span {
    font-size: 1.1em;
    font-weight: 100;
}

.formulario__checkbox{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 10px;
}

.formulario__grupo-terminos {
    text-align: center;
}

.formulario__grupo-terminos, .formulario__mensaje, .formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    display: none;
    /* height: 45px; */
    /* line-height: 45px; */
    padding: 15px;
    border-radius: 5px;
    background: #f00;
    text-align: center;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    
    padding: 5px 35px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.formulario__btn:hover {
    background: rgb(214, 184, 184);
    transition: 1s;
}

.formulario__mensaje-exito {
    font-size: 2em;
    color: #20b80c;
    padding: 10px;
    text-align: center;
    display: none;
}

.formulario__mensaje-exito-activo { 
    display: block;
}

/* validaciones */
.formulario__grupo-correcto .formulario__validacion-estado{
    color: #29ee0f;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: #ee0f0f;
}


.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #ee0f0f;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 1px solid #ee0f0f;
    
}


/* responsividad */

@media screen and (max-width:720px) {
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos, 
    .formulario__mensaje, 
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {
        width: 100%;
    }
}