@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body{
  background-image: url(/html/images/fondo\ contacto2.jpg);
  background-attachment: fixed;
  display: block;
} 
.contenido {
  background: #ffff;
}
#formulario_contacto{
  background: #ffff;
  width: 500px;
  max-width: 100%;
  margin: auto; 
  margin-top: 30px;
  padding: 40px;
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 3);
  position: relative;
  background-color: transparent;
}
label.error {
  color: darkred;
}
input.error{
  border: 1px solid darkred;
}
