@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body{
  background-image: url(/html/images/fondo\ contacto2.jpg);
  background-attachment: fixed;
  display: block;
} 
#contendio{
  align-content: center ;
}
#formulario_contacto{
  width: 56%;
  
  background: #ffffff;
    /* border-bottom: 2px solid #ddc2ae; */
   /*  color: black; */
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    line-height: 45px;
    padding: 0 10px;
    transition: all 1s;
}
label.error {
  color: darkred;
}
input.error{
  border: 1px solid darkred;
}
#guardar, #limpiar{
    padding: 5px 35px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
#guardar:hover{
  background: rgb(214, 184, 184);
    transition: 1s;
}
#limpiar:hover{
    background: rgb(214, 184, 184);
    transition: 1s;
}