
body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

form {
    padding-top: 5%; */
    box-shadow: 0 0 20px rgba(0,0,0 , 2); */
    border-radius: 20px; */
    text-align: center;
    width: 540px; */
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15 px;


}

input, textarea{

    padding: 15px 200px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: lightsalmon;
    border: #bebebe;
    color: black;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color:black;
}

.form-txt{
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.form-txt a{
    color: burlywood;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;

}



.btn{
    font-size: 16px;
    color: white;
    border: 0;
    border-radius: 25px;
    background-color: orange;
    cursor: pointer;
}

.btn:hover{
    background-color: orange;
    border-radius: black;

}

@media(max-width:991px){
    body{
        padding: 30px;
    }
    form{
        padding: 50px 30px; 
        width: 100%;
    }

    input{
        padding: 15px;
    }
}


.header{
    display: flex;
    position: relative;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
     
}
.logo{
    color: #303030;
    font-size: 35px;
    font-weight: 800;
    font-family: cursive;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #303030;
    display: block;
    font-weight: 600;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;

}

.bg{
    position: absolute;
    width: 25%;
    z-index: -1;
    right: 0;
    background-repeat: repeat;
    scroll-behavior: auto;

}
.esp {
    position: absolute;
    top: 700px;
    bottom: 0;
    width: 350px;

}
.header-info{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.header-txt {
    width: 50%;
    padding-right: 35px;
    padding-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header-txt h1 {
    font-size: 35px;
    line-height: 100px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.header-txt p{
    font-size: 16px;
    color: #545454;
    margin-bottom: 35px;
}

.btn-1 {
    display: inline-block;
    background-color: #ff9f0d;
    padding: 13px 30px;
    border-radius: 25px;
    color: #ffffff;
    text-transform: capitalize;
    box-shadow: 0 0 20px rgba(0,0 ,0, 0.2);
}
 
.btn-1:hover {
    background-color: #ee9003;

}
.header-img {
    width: 50%;
}

.header-img img {
    width: 100px;
}